<!-- Bootstrap core CSS -->
<!--<link th:href="@{asserts/css/bootstrap.min.css}" rel="stylesheet">-->
<link th:href="@{bootstrap-4.5.0-dist/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{asserts/css/dashboard.css}" rel="stylesheet">
<!--<link th:href="@{asserts/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">-->
<link th:href="@{asserts/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet">

<!--<script type="text/javascript" th:src="@{asserts/js/jquery-3.2.1.slim.min.js}"></script>-->
<!--bootstrap官网推荐slim.min.js但该版本不带$.ajax功能，故使用min.js-->
<script type="text/javascript" th:src="@{asserts/js/jquery-3.5.1.min.js}"></script>
<script type="text/javascript" th:src="@{asserts/js/popper.min.js}"></script>
<!--<script type="text/javascript" th:src="@{asserts/js/bootstrap.min.js}"></script>-->
<script type="text/javascript" th:src="@{bootstrap-4.5.0-dist/js/bootstrap.min.js}"></script>
<!-- Icons -->
<script type="text/javascript" th:src="@{asserts/js/feather.min.js}"></script>
<script type="text/javascript" th:src="@{asserts/js/message.js}"></script>

<!--<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>-->
<script type="text/javascript" th:src="@{asserts/js/moment-with-locales.js}"></script>
<!--日期选择插件-->
<!--<script type="text/javascript" th:src="@{asserts/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>-->
<script type="text/javascript" th:src="@{asserts/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script type="text/javascript" th:src="@{asserts/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<!--删除确认模态框-->
<script type="text/javascript" th:src="@{asserts/js/delConfirm.js}"></script>
<style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }
        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }

    .middleCenter {
        text-align: center;
        vertical-align: center;
    }

    th {
        text-align: center;
        vertical-align: center;
    }

    tr {
        text-align: center;
        vertical-align: center;
    }

    td {
        text-align: center;
        /*vertical-align:middle;*/
        vertical-align: middle !important;
    }
</style>

<script>
    $.fn.datetimepicker.dates['zh'] = {
        days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
        daysShort: ["日", "一", "二", "三", "四", "五", "六", "日"],
        daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
        months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
        monthsShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
        meridiem: ["上午", "下午"],
        //suffix:      ["st", "nd", "rd", "th"],
        today: "今天"
    };
</script>