<footer class="footer navbar-fixed-bottom " th:if="${pageInfo.list!=null}">
    <div class="container">
        <!-- 分页信息 -->
        <div class="row">
            <!-- 分页文字信息 -->
            <div class="col-md-3" style="padding-top: 5px;padding-left: 0">
                <p th:text="'当前第' + ${pageInfo.pageNum}+'页,总'+${pageInfo.pages}+'页,共'+${pageInfo.total}+'条记录'"/>
            </div>
            <!-- 分页条信息 -->
            <div class="col-md-9" style="padding-left: 20%;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <!--首页-->
                        <li class="page-item">
                            <a class="page-link" th:href="@{${url} +'?pageNum=1'}">首页</a>
                        </li>
                        <!--上一页《 -->
                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a class="page-link"
                               th:href="@{${url}+'?pageNum='+${pageInfo.pageNum-1 }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!--动态添加样式-->
                        <li class="page-item"
                            th:classappend="${PageNum == pageInfo.pageNum} ? 'active' : '' "
                            th:each="PageNum : ${pageInfo.navigatepageNums}">
                            <a th:href="@{${url}+'?pageNum='+${PageNum}}" class="page-link"
                               th:text="${PageNum}"></a>
                        </li>

                        <!--页码判断-->
                        <!--<li class="page-item active" th:each="PageNum : ${pageInfo.navigatepageNums}" th:if="${PageNum==pageInfo.pageNum}">
                            <a th:href="@{'/list?pageNum='+${PageNum}}" class="page-link" th:text="${PageNum}"></a>
                        </li>
                        <li class="page-item"  th:each="PageNum : ${pageInfo.navigatepageNums}" th:if="${PageNum!=pageInfo.pageNum}">
                            <a th:href="@{'/list?pageNum='+${PageNum}}" class="page-link" th:text="${PageNum}"></a>
                        </li>-->

                        <!--下一页 》-->
                        <li th:if="${pageInfo.hasNextPage}" class="page-item">
                            <a th:href="@{${url}+'?pageNum='+${pageInfo.pageNum+1 }}"
                               aria-label="Next" class="page-link">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        <!--尾页-->
                        <li class="page-item" th:if="${pageInfo.hasNextPage}">
                            <a th:href="@{${url}+'?pageNum='+${pageInfo.pages}}"
                               class="page-link">尾页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>